[submodule "packages/fleetops"]
	path = packages/fleetops
	url = git@github.com:raptors-delivery/fleetops.git
	branch = main

[submodule "packages/core-api"]
	path = packages/core-api
	url = git@github.com:raptors-delivery/core-api.git
	branch = main

[submodule "packages/ember-core"]
	path = packages/ember-core
	url = git@github.com:raptors-delivery/ember-core.git
	branch = main

[submodule "packages/ember-ui"]
	path = packages/ember-ui
	url = git@github.com:raptors-delivery/ember-ui.git
	branch = main

[submodule "packages/iam-engine"]
	path = packages/iam-engine
	url = git@github.com:raptors-delivery/iam-engine.git
	branch = main

[submodule "packages/dev-engine"]
	path = packages/dev-engine
	url = git@github.com:raptors-delivery/dev-engine.git
	branch = main

[submodule "packages/fleetops-data"]
	path = packages/fleetops-data
	url = git@github.com:raptors-delivery/fleetops-data.git
	branch = main

[submodule "docs"]
	path = docs
	url = git@github.com:fleetbase/docs.git
